<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="/assets/animation-43d0d09e.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/services-detail.css">    
    <link rel="stylesheet" href="/css/blog.css">
</head>

<body>
    {% include 'header.njk' %}
    {{ content | safe }}
    {% include 'footer.njk' %}
</body>

</html>