<footer class="lg:pl-7 xl:pl-24" style="background: url(/images/background-4.jpg);">
    <div class="container md:pr-9 xl:pr-28 xl:pl-4">
        <div class="">
            <div class="py-16">
                <div class="space-y-7 lg:space-y-0 lg:flex lg:justify-between">
                    <h1 class="text-4xl font-bold text-white">Porto Business Consulting Group</h1>
                    <button class="contact-btn font-semibold">Contact Us</button>
                </div>
            </div>
            <div class="footer-grp grid space-y-7 pt-20 pb-14 lg:space-y-0 lg:flex lg:space-x-6">
                <div class="space-y-5 lg:w-56 xl:w-64">
                    <img src="/images/logo-footer.png" alt="">
                    <p class="pt-1 text-white/40" style="font-size: 15.3px; line-height: 1.7;">Cras a elit sit amet leo accumsan volutpat. Suspendisse hendreriast ehicula leo, vel efficitur fel.</p>
                    <ul class="social-list flex">
                        <li class="hover:bg-blue-700">
                            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="mx-3 hover:bg-sky-500">
                            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="hover:bg-blue-600">
                            <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="lg:w-56 xl:w-64">
                    <ul class="text-white/95 space-y-6">
                        <li>
                            <div class="flex space-x-2">
                                <span>
                                    <svg fill="white" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 419 420" style="enable-background:new 0 0 419 420;" xml:space="preserve" id="icon_171683616131880" data-filename="phone.svg" width="25" height="25">
                                        <path d="M303.7,411.1c-15.6-0.1-31.2-2.1-46.4-5.9c-52.4-12.6-106.4-44.7-152-90.4s-77.7-99.6-90.4-152
                                            C1.7,107.8,11.2,60.6,41.7,30.1l8.7-8.7c16.5-16.4,43.1-16.4,59.6,0l50.1,50.1c16.5,16.5,16.5,43.2,0,59.6l-29.6,29.6
                                            c14.2,24.9,33.5,49.8,56.3,72.6s47.8,42.1,72.6,56.3l29.6-29.6c16.5-16.5,43.1-16.5,59.6,0c0,0,0,0,0,0l50.1,50.1
                                            c16.5,16.5,16.5,43.1,0,59.6l-8.7,8.7C368.5,400,338.7,411.1,303.7,411.1z M80.2,39c-3.2,0-6.3,1.3-8.6,3.6l-8.7,8.7
                                            c-22.9,22.9-29.6,60-18.8,104.5c11.4,47.1,40.6,96.1,82.4,137.9s90.7,71,137.9,82.4c44.5,10.7,81.6,4.1,104.5-18.8l8.7-8.7
                                            c4.7-4.7,4.7-12.4,0-17.2l-50.1-50.1c-4.7-4.7-12.4-4.7-17.2,0l-37.5,37.5c-4.6,4.6-11.7,5.7-17.5,2.7c-30.8-15.9-61.8-39-89.6-67
                                            s-51-58.9-66.9-89.6c-3-5.8-1.9-12.9,2.7-17.5l37.5-37.5c4.7-4.7,4.7-12.4,0-17.2L88.8,42.6C86.5,40.3,83.4,39,80.2,39z"></path>
                                        <path d="M319.8,230.7c-8.3,0-15-6.7-15-15l0,0c-0.1-54.8-44.5-99.2-99.3-99.3c-8.3,0-15-6.7-15-15s6.7-15,15-15l0,0
                                            c71.3,0,129.3,58,129.3,129.3C334.8,224,328,230.7,319.8,230.7C319.8,230.7,319.8,230.7,319.8,230.7z"></path>
                                        <path d="M383.1,230.7c-8.3,0-15-6.7-15-15l0,0c0-89.7-73-162.7-162.6-162.7c-8.3,0-15-6.7-15-15s6.7-15,15-15l0,0
                                            c106.2,0,192.6,86.4,192.6,192.7C398.1,224,391.4,230.7,383.1,230.7L383.1,230.7z"></path>
                                    </svg>
                                </span>
                                <p class="text-sm font-semibold"> <a href="tel:+" target="_blank">(800) 123-4567</a> </p>
                            </div>
                        </li>
                        <li>
                            <div class="flex space-x-2">
                                <span>
                                    <svg fill="white" version="1.1" id="icon_231683616131990" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve" data-filename="email.svg" width="25" height="25">
                                        <path d="M32,60C16.5,60,4,47.5,4,32S16.5,4,32,4c15.9,0,25,8.7,25,24v1c0.2,3.4-0.6,6.8-2.3,9.7c-1.8,3.1-5.1,5.1-8.7,5
                                            c-4,0-8.6-2.3-8.6-8.8v-0.1L38,22.9c-0.5-0.1-1-0.2-1.5-0.3c-1.4-0.2-2.7-0.3-4.1-0.3c-2.5-0.1-5,0.8-6.7,2.7
                                            c-1.8,2.1-2.8,4.8-2.6,7.6c-0.1,2.2,0.5,4.3,1.7,6.1c1.1,1.3,2.7,1.9,4.3,1.8c1.2,0,2.4-0.3,3.4-0.9c0.9-0.6,2.2-0.4,2.8,0.6
                                            s0.4,2.2-0.6,2.8C33,44,31,44.6,29.1,44.5c-2.8,0.1-5.6-1.1-7.4-3.3c-1.8-2.1-2.6-5-2.6-8.7c-0.2-3.8,1.1-7.5,3.7-10.3
                                            c2.5-2.7,6-4.1,9.7-4c1.6,0,3.1,0.1,4.7,0.4c1.2,0.2,2.4,0.4,3.5,0.7l1.6,0.4L41.4,35c0,4.1,2.9,4.7,4.6,4.7c2.1,0,4.1-1.1,5.2-2.9
                                            c1.4-2.4,2-5.1,1.8-7.8v-1c0-12.9-7.5-20-21-20C18.7,8,8,18.7,8,32c0,13.3,10.7,24,24,24c6.2,0,12.1-2.4,16.6-6.7
                                            c0.8-0.8,2.1-0.7,2.8,0.1c0.8,0.8,0.7,2.1-0.1,2.8l0,0C46.2,57.2,39.2,60,32,60z"></path>
                                        </svg>
                                </span>
                                <p class="text-sm font-semibold"><a href="mailto:" target="_blank">porto@portotheme.com</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="flex space-x-2">
                                <span>
                                    <svg fill="white" version="1.1" id="icon_81683616132007" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 330 433" style="enable-background:new 0 0 330 433;" xml:space="preserve" data-filename="map-pin.svg" width="25" height="25">
                                        <path d="M165,414.2c-2.6,0-5.1-0.7-7.3-1.9C68.3,362.4,13,268.1,13,165.8c0-2.1,0-4.1,0.1-6.1c1-45.5,17.9-83.8,49-110.8
                                            C89.5,25.1,126.1,12,165,12s75.5,13.1,102.9,36.9c31.1,27,48.1,65.3,49,110.8l0,0c0,2,0.1,4.1,0.1,6.1c0,51-13.8,101.1-40,144.9
                                            c-25.4,42.4-61.5,77.4-104.6,101.6C170.1,413.5,167.6,414.2,165,414.2z M165,42c-31.7,0-61.3,10.5-83.3,29.6
                                            c-24.5,21.3-37.9,51.9-38.7,88.7c0,1.8-0.1,3.7-0.1,5.5c0,88.4,46.3,170.4,122,216c35.4-21.4,65-51.1,86.3-86.6
                                            c23.4-39.1,35.7-83.8,35.7-129.4c0-1.8,0-3.7-0.1-5.5c-0.8-36.8-14.2-67.5-38.7-88.7C226.3,52.5,196.7,42,165,42z"></path>
                                        <path d="M165.4,260.6c-52.1,0-94.3-42.2-94.3-94.3S113.3,72,165.4,72s94.3,42.2,94.3,94.3C259.7,218.3,217.5,260.5,165.4,260.6z
                                             M165.4,102c-35.5,0-64.3,28.8-64.3,64.3s28.8,64.3,64.3,64.3s64.3-28.8,64.3-64.3c0,0,0,0,0,0C229.6,130.8,200.9,102,165.4,102
                                            L165.4,102z"></path>
                                    </svg>
                                </span>
                                <p class="text-sm font-semibold">1234 Street Name, New York, NY 10000, USA</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="google-map relative xl:pl-4">
                    <iframe class="iframe" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3022.629380539113!2d-73.973551!3d40.748180000000005!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1683624829145!5m2!1sen!2sus" width="356" height="190" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    
                    <div class="iframe absolute top-0 p-1.5 pb-9 lg:pb-3.5 xl:pb-9" style=" background: rgba(0, 0, 0, 0.45);">
                        <div class="bg-white rounded-md px-7 py-5 space-y-5">
                            <img src="https://maps.gstatic.com/mapfiles/api-3//images/google_gray.svg" alt="" width="52" height="17">
                            <p class="font-semibold opacity-70" style="font-size: 13.5px;">This page can't load Google Maps correctly.</p>
                            <div class="flex justify-between">
                                <div>
                                    <a class="text-xs font-semibold opacity-50" href="">Do you own this website?</a>
                                </div>
                                <div>
                                    <a href=""><button class="px-6 py-1.5 rounded-md text-sky-600 text-sm" style="border: 1px solid rgb(218, 218, 218);">OK</button></a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-y-4">
                    <h3 class="text-white text-lg font-bold">Useful Links</h3>
                    <ul class="useful-list text-white/40 text-xs space-y-3" style="letter-spacing: 0.5px;">
                        <li class="space-x-2">
                            <i class="fas fa-angle-right text-color-default"></i>
                            <a href="">Contact Us</a>
                        </li>
                        <li class="space-x-2">
                            <i class="fas fa-angle-right text-color-default"></i>
                            <a href="">Our Services</a>
                        </li>
                        <li class="space-x-2">
                            <i class="fas fa-angle-right text-color-default"></i>
                            <a href="">Payment Methods</a>
                        </li>
                        <li class="space-x-2">
                            <i class="fas fa-angle-right text-color-default"></i>
                            <a href="">Services Guide</a>
                        </li>
                        <li class="space-x-2">
                            <i class="fas fa-angle-right text-color-default"></i>
                            <a href="">FAQs</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pt-7">
                <p class="text-center text-white/50" style="font-size: 13.8px; letter-spacing: 0.5px;">Porto Business Consulting. © 2023. All Rights Reserved</p>
            </div>
        </div>
    </div>
    <div class="hidden text-white pr-2.5 -bottom-0.5 right-0 fixed lg:flex" style="justify-content: flex-end;">
        <a href="">
            <button class="bg-gray-600 px-5 py-3" style="background: #6e6e6e;">
                <i class="fas fa-chevron-up text-xs"></i>
            </button>
        </a>
        
    </div>
</footer>