
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', Arial, sans-serif;
    background: rgb(250, 250, 250);
}

main {
    overflow: hidden;
}

/* button */

.primary-btn {
    padding: 9px 22.5px;
    font-size: 15.5px;
    box-shadow: 4.5px 4.5px  0 0 #616161;
}

.primary-btn:hover,
.primary-btn:focus {
    box-shadow: none;
    transform: translateY(0.25em);
    transition: ease 0.35s;

}

.sider-btn {
    background: black;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    top: -35px;
}

.sider-btn-grp:hover > div {
    display: block;
}

.quote-btn {
    background: #f04c23;
    box-shadow: 4.5px 4.5px  0 0 #ff8262;
    font-size: 15.5px;
    color: white;
    padding: 12.7px 31.2px;
}

.quote-btn:hover {
    background: #f26947;
    box-shadow: none;
    transform: translateY(0.25em);
    transition: ease 0.35s;
}

.service-btn {
    margin-inline: auto;
    justify-items: center;
    position: relative;
    left: 125px;
}

.blog-btn {
    color: white;
    font-size: 22px;
    font-weight: 700;
    padding: 10px 20px;
    background: #f04c23;
    line-height: 1.2;
    box-shadow: 5px 5px 0 0 rgba(240, 91, 54, 0.7);
    position: relative;
    top: 100px;
    left: 266px;
}

.contact-btn {
    color: white;
    background: #f04c23;
    padding: 12.8px 28.5px;
    font-size: 15.3px;
    box-shadow: 4.5px 5px 0 0 rgba(240, 91, 54, 0.7);
    letter-spacing: 0.3px;
}

.contact-btn:hover {
    box-shadow: none;
    transform: translateY(0.25em);
    transition: ease 0.35s;
}



/* primary header */

/* header-p-one */

.contact {
    margin-top: 3px;
}

.contact-list { 
    min-width: max-content;
    background: #f04c23;
    box-shadow: 10.2px 7px 0 0 #f79a82;
    transform: skewX(-25deg);  
    padding: 0 46px 0 0px;   
    margin: 0 0 3px 0; 
}

.call {
    transform: skewX(25deg);
}

.mail {
    transform: skewX(25deg);
}

.telephone {
    font-size: 13.7px;
    padding: 2px 0 0 0;
}

@media (min-width:1248px) {
  .telephone {
    font-size: 14.5px;
    padding: 3px 0 0 0;
  } 
}

.item-two,
.item-three {
    padding: 13.5px 13px;
    position: relative;
    top: 1px;
}

.social-list {
    padding: 0 -0.5px 0 0;
}

.social-list li div:hover {
    border: 1px solid red;
}

.social-icon li:hover {
    color: white;
}

.nav-list ul li:hover {
    color: #f04c23;
}

/* header-p-two */ 

.hamburger {
    background: #f04c23;
}

.nav-list ul > .dropdown {
    padding: 0 0 45px 0;
}

li.dropdown:hover > ul {
    display: block;
}   

.dropdown-menu {
    left: auto;
    border: 0;
    border-top: 3px solid #f04c23;
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.07);
    margin: 0;
    min-width: 200px;
    position: absolute;
    top: 170px;
    left: 686px;
    font-size: 13.5px;
    line-height: 2.7;
    padding: 6px 18px;
    background: white;
    color: rgb(126, 126, 126);
}
 
ul.dropdown-menu:hover,
ul.dropdown-menu li:hover,
ul.dropdown-menu li > a:hover {
    color: rgb(126, 126, 126);
}

.search-box {
    position: absolute;
    top: 25px;
    right:-9px;
}

.search-box input {
    min-width: 270px;
    height: 38px;
    background: rgb(252, 252, 252);
    font-size: 12px;
    color: rgb(26, 26, 26);
    padding: 0 0 0 11.5px;
    outline: none;
    border: 0.2px solid rgb(238, 238, 238);
}

::-webkit-input-placeholder {
    color: rgb(231, 231, 231);
}

/* strategy execution */

.slider-one > ul {
    overflow: scroll;
}

.slider-one > ul > li {
    cursor: pointer;
    max-width: 760px;
    background: white;
    padding: 48px 32px;
}

.slider {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(148, 148, 148);
}

/* ABOUT US */

.letter-space {
    color: #f04c23;
    letter-spacing: 2.6px;
}

.about-us > h1 {
    line-height: 1.2;
} 

.about-us > p {
    letter-spacing: 1px;
    color: #777777;
    line-height: 1.67;
    font-size: 15.5px;
}

.generic-logos ul {
    overflow-x: scroll;
    margin-inline: auto;
}

.generic-logos ul > li {
    min-width: 768px;
    margin-inline: auto;
    justify-content: center;
}

.slider-btn-2 {
    margin-inline: auto;
    justify-content: center;
    position: relative;
    top: 30px;
}

/* premium service */

.card-images > ul > li {
    cursor: pointer;
    max-width: 94%;
    box-shadow: 0 0 5px 1px rgb(219, 219, 219);
    
}

.ps-card-item {
    position: relative;
    top: 95px;
    left: 25px;
}

/* our amazing team */

.team-members > ul > li {
    cursor: pointer;
    background: white;
    padding: 0 0 5px 0;
}

.member-name:hover,
.member-name:focus {
    color: #f04c23;
}

.member-img {
    min-height: 100vh;
}

.team-m1 {
    background: url(images/team-1.jpg);
    background-size: cover;
}

.team-m2 {
    background: url(images/team-2.jpg);
    background-size: cover;
}

.team-m3 {
    background: url(images/team-3.jpg);
    background-size: cover;
}

.team-m4 {
    background: url(images/team-4.jpg);
    background-size: cover;
}

.team-m5 {
    background: url(images/team-5.jpg);
    background-size: cover;
}

.team-m1:hover {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.69)), url(images/team-1.jpg);
    background-size: cover;
}

.team-m2:hover {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.69)), url(images/team-2.jpg);
    background-size: cover;
}

.team-m3:hover {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.69)), url(images/team-3.jpg);
    background-size: cover;
}

.team-m4:hover {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.69)), url(images/team-4.jpg);
    background-size: cover;
}

.team-m5:hover {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.69)), url(images/team-5.jpg);
    background-size: cover;
}

/* get in touch */

input, 
textarea {
    width: 100%;
    height: 40px;
    background: transparent;
    border-bottom: 0.5px solid rgb(82, 82, 82);
    padding: 0 0 0 20px;
    outline: none;
}

::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.get-in-touch {
    width: 1440px; 
    background: linear-gradient(
        rgba(216, 63, 12, 0.85),
        rgba(216, 63, 12, 0.85)
        ),
        url(images/background-2.jpg) no-repeat right; 
    margin-inline: auto;
}

/* testimonials */

.testimonials > ul > li {
    min-width: 100%;
    margin-inline: auto;
    box-shadow: 0 0 5px 1.5px rgb(219, 219, 219);
}

/* the blog */

.blog > ul >li {
    cursor: pointer;
    max-width: 358.66px;
    background: white;
    box-shadow: 0 0 5px 0.5px rgb(219, 219, 219);
}


.blog > ul >li:hover .blog-btn  {
    box-shadow: none;
    transform: translate3d(5px,5px,0);
    transition: ease transform 700ms;
}

.blog-item {
    height: 187.08px;
}

.blog-date {
    display: block;
    font-size: 11px; 
    text-transform: uppercase; 
    letter-spacing: 1.7px;
    font-weight: 800;
}

.blog-p2 h1:hover {
   color: #f04c23 !important;
}

.blog-item-1 {
    background: url(images/blog-1.jpg);
    background-size: cover;
}

.blog-item-2 {
    background: url(images/blog-2.jpg);
    background-size: cover;
}

.blog-item-3 {
    background: url(images/blog-3.jpg);
    background-size: cover;
}


.blog-item-1:hover {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.69)), url(images/blog-1.jpg);
    background-size: cover;
}

.blog-item-2:hover {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.69)), url(images/blog-1.jpg);
    background-size: cover;
}

.blog-item-3:hover {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.69)), url(images/blog-1.jpg);
    background-size: cover;
}

/* primary footer */

.footer-grp {
    border-top: 1px solid #505050;
    border-bottom: 1px solid #505050;
    margin-inline: auto;

}

.social-list > li {
    cursor: pointer;
    color: white;
    border: 1px solid rgb(104, 104, 104);
    border-radius: 50%;
    width: 33px;
    height: 33px;
    text-align: center;
    padding: 4px 0 0 0;
}

.social-list > li:hover {
    border: 1px solid red;
    border-radius: 50%;
}

.useful-list > li > a:hover {
    color: white;
    padding: 0 0 0 2.8px;
}

.iframe {
    width: 356px;
}





@media (min-width: 768px)
{
    .padding-block {
        padding: 0 0 0px 30px;
    }

    .bg-image {
        background: url(images/background-woman.png);
        background-repeat: no-repeat;
        background-size: (100%, 50%);
        background-position: top right;
    }
    
    .slider-one {
        max-width: 740px;
    }

    .slider-one > ul {
        overflow: scroll;
    }

    .slider-one > ul > li {
        min-width: 320px;
        max-width: 100vw;
        height: 343.8px;
    }

    .slider-btn {
        position: relative;
        left: 140px;
    }

    .slider-btn > ul > .btn-1, .btn-2 {
        display: none;
    } 

    .generic-logos ul > li {
        min-width: 256px;
    }

    .team-members > ul > li {
        min-width: 237px;
        margin-inline: auto;
    }

    .member-img {
        min-height: 235.55px;
    }
    
    .iframe {
        width: 100%;
    }
    
    .google-map :nth-child(2) > .bg-white {
        width: 356px;
        margin-inline: auto;
    }
}

@media (max-width: 991px) {
    .strategy-execution > h1 {
        white-space: normal !important;
    }
}


@media (min-width: 1024px) {

    .padding-block {
        padding: 0 0 0px 50px;
    }

    .strategy-execution > h1 {

        background: url(images/text-background.jpg);
        background-repeat: no-repeat;
        background-position: 20% 30%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 50px;
    }

    .slider-one {
        justify-items: center;
        margin-inline: auto;
    }

    .slider-btn {
        position: relative;
    }

    .slider-btn-2 {
        padding: 0 0 0 0px;
    }

    .team-members > ul > li {
        min-width: 245px;
    }

    .blog-btn {
        position: relative;
        top: 100px;
        left: 200px;
    }

    .iframe {
        width: 295.98px;
    }

    .google-map :nth-child(2) > .bg-white {
        width: 284.5px;
        margin-inline: auto;
    }
}

@media (min-width: 1200px) {

    .padding-block {
        padding: 0 0 0px 100px;
    }

    .slider-one {
        position: relative;
        top: -128px;
        right: -225px;
    }

    .slider-btn-2 {
        position: relative;
        left: -43px;
    }

    .blog-btn {
        position: relative;
        top: 100px;
        left: 269px;
    }
}

@media (min-width: 1280px) {
    .strategic-execution > h1 {
        font-size: 88px;
    }

    .iframe {
        width: 356px;
    }

    .google-map :nth-child(2) > .bg-white {
        width: 344px;
        margin-inline: auto;
    }

    .strategy-execution > h1 {
        font-size: 87px;
    }
    
}



.container {
    margin: auto;
    padding: 0px 12px;
    margin-inline: auto;
}




@tailwind base;
@tailwind components;
@tailwind utilities;