
details > p {
    box-shadow: 0 0 5px 0.5px rgb(219, 219, 219);
}

.summary-part {
    padding: 23px 30px;
    background-color: #f1f1f1;
}

.summary-part:hover {
    color: #f04c23;
}

@media (min-width: 1280px) {
    .que-ans > ul > li {
    width: 830px;
    /* max-width: 100vw; */
}
}